%p#notice= notice

%p
  %b Task:
  = @assignment.task_id
%p
  %b User:
  = @assignment.user_id
%p
  %b Created by:
  = @assignment.created_by

= link_to 'Edit', edit_assignment_path(@assignment)
\|
= link_to 'Back', assignments_path
