= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :status
    = f.select :status, options_for_select([['undone', 0], ['done', 1]], params[:status])
  .field
    = f.label :priority
    = f.select :priority, options_for_select([['low', 0], ['medium', 1],['hight',2]], params[:priority])
      
  .field
    = f.label :created_at
    = f.date_select :created_at
  .field
    = f.label :due_date
    = f.date_select :due_date
  .actions
    = f.submit 'Save'
